/VG01_V1_20240517_seq2b4o2_t_cam0_run001_20240517_151926DLC_resnet50_VG01_PupilTraceMay28shuffle1_150000.csv
/pupil_data_analysis/area_per_frame.csv
/pupil_data_analysis/area_per_frame_no_outliers.html
/pupil_data_analysis/area_per_second.csv
/pupil_data_analysis/area_per_second_no_outliers.html
/VG01_V1_20240515_seqf2b4o2_t_cam0_run004_20240515_090141DLC_resnet50_VG01_PupilTraceMay28shuffle1_150000.csv
/2p_camlog_alignment/voltage.csv
/2p_camlog_alignment/raw_voltages.h5
/2p_camlog_alignment/voltage_camlog_frames_aligned.xlsx
/pupil_data_analysis/VG01_V1_20240517_seq2b4o2_t_cam0_run001_20240517_151926.avi
/2p_camlog_alignment/camlog.xlsx
/2p_camlog_alignment/difference_camlog_2p.xlsx
/2p_camlog_alignment/fn13_camlog.xlsx
/2p_camlog_alignment/fn13_raw_voltages.h5
/2p_camlog_alignment/fn13_voltage_camlog_frames_aligned.xlsx
/2p_camlog_alignment/difference_2p-camlog.html
/pupil_data_analysis/pupil_area_vs_voltage_stim.html
/2p_camlog_alignment/voltage_camlog_milliseconds_per_frame.html
/pupil_data_analysis/VG01_V1_20240517_seq2b4o2_t_cam0_run001_20240517_151926DLC_resnet50_VG01_PupilTraceMay28shuffle1_150000.csv
